<a href="https://colab.research.google.com/github/YochaiKariv/Fall2023/blob/main/COP_HW3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

In [2]:

# use a loop to print the numbers 1-10

for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
# Create a list of the first ten natural numbers multiples of 10

[x*10 for x in range(1,11)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [4]:
# Return the largest number from a list.

MyList = [9,54,34,40,3,12]
def GiveLargest(MyList):
  return max(MyList)

In [5]:
GiveLargest(MyList)

54

# Part 2

In [6]:
# create a function to check if a number is even

def iseven(x):
  return x%2==0

In [7]:
iseven(23)

False

In [8]:
# create a loop that print the even numbers between 1-50
for x in range(1,51):
  if x%2==0:
    print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [12]:
# count the vowels in a string

def count_vowels(input_string):
    # Initialize a counter for the vowels
    vowel_count = 0

    # Convert the string to lowercase and loop through each character
    for char in input_string.lower():

        # Check if the character is a vowel
        if char in 'aeiou':
            vowel_count += 1  # +1 if it's a vowel

    return vowel_count  # Return the total count of vowels

# Test the function
result = count_vowels('hello world')
print(result)

3

# Part 3

In [14]:
# Define a function that returns the factorial of a number.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

In [21]:
# Find the grade (A, B, C, etc.) of a student given their marks.
def find_grade(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 80:
        return 'B'
    elif marks >= 70:
        return 'C'
    else:
        return 'Fail'

print(find_grade(14))

Fail

In [32]:
# Create a function that finds the nth Fibonacci number.
def findfibonacci(n):
  a,b=0,1
  for x in range(n):
    a,b=b,a+b
  return a
print(findfibonacci(5))

5

# Part 4

In [36]:
# Calculate my BMI
def bmicalc(x,y):
  return x/(y**2)
x,y= 68,1.65
print(bmicalc(x,y))

24.977043158861342

In [40]:
# Convert celcius to farenheit
def  celtofer(cel):
  return (cel*9/5)+32
print(celtofer(21.4))

70.52